<div [formGroup]="form" class="container">
    <label class="block text-gray-600 text-sm font-semibold mb-1" [attr.for]="tag.key">{{tag.label}}</label>

    <ng-container [ngSwitch]="tag.controlType">

        <input *ngSwitchCase="'stringbox'" [id]="tag.key" type="text" pInputText [formControlName]="tag.key" />
        <input type="number" *ngSwitchCase="'intbox'" [id]="tag.key" [formControlName]="tag.key" pInputText pKeyFilter="int" />
        <p-checkbox *ngSwitchCase="'boolbox'" [formControlName]="tag.key" [value]="tag.label"
            [inputId]="tag.key"></p-checkbox>
        <input type="number" *ngSwitchCase="'floatbox'" [id]="tag.key" [formControlName]="tag.key" pInputText pKeyFilter="number" />

        <ng-container *ngSwitchCase="'visualizer'">
            <p-fileUpload [disabled]="this.form.disabled" #fileUpload mode="basic" [chooseLabel]="'Selecciona'"
                [accept]="this.ACCEPTED_TYPES_MIME.concat(this.ACCEPTED_TYPES_EXT).join(',')"
                [name]="tag.key"
                (onSelect)="selectFile($event, fileUpload)"></p-fileUpload>
            <b *ngIf="this.tag.value">{{this.tag.value.name}}</b>
            <app-vtk-visualizer *ngIf="this.isValid" [file]="tag.value"></app-vtk-visualizer>
            
        </ng-container>


        <p-message *ngSwitchDefault severity="error" text="Unsupported TAG"></p-message>
    </ng-container>
    <p-message *ngIf="!isValid && !isPristine && this.form.enabled" severity="error" text="Error"></p-message>


</div>