<form [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <div class="form-item">
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" pInputText formControlName="username"/>
    </div>
    <div class="form-item">
        <label for="password">Contraseña:</label>
        <p-password formControlName="password" [toggleMask]="true" id="password" [feedback]="true"></p-password>
    </div>
    <div class="form-item">
        <label for="email">Correo:</label>
        <input type="text" id="email" pInputText formControlName="email"/>
    </div>
    <p-button type="submit" label="Enviar" [disabled]="this.signUpForm.invalid" [loading]="loading"></p-button>
</form>